<html>
    <head>
    <title>Catching mail for 10to1's Hubot</title>
<link rel="shortcut icon" href="/favicon.ico">
<style>
</style>
</head>
<body>
<h1>Hummer catch catches Hubot's mail</h1>
<iframe width="560" height="315" src="http://www.youtube.com/embed/oxQtMHgRp5g" frameborder="0" allowfullscreen></iframe>
<p>Status can be found <a href="/status">here</a></p>
</body>
</html>
